.active {
  color: green;
}

.right-icon {
  padding-left: 10px;
}

.left-icon {
  padding-left: 5px;
}

.adminAnimeTitleComponent {
  position: relative;
}

.adminAnimeTitleComponent form {
  display: inline-block;
}

.messageBoxComponent {
  display: inline-block;
  position: absolute;
  top: 5px;
  right: 15px;
}
