$orange: #f7af40;
$orange-dark: darken($orange, 15%);

$blue: #48b5ee;
$blue-dark: darken($blue, 10%);

$link-color: $blue-dark;

@import "common";

@import "bootstrap-sprockets";
@import "bootstrap";

@import "components";
@import "bootstrap_overrides";
