.active {
  color: green;
}

// Common CSS

a {
  outline: none;
}

button {
  outline: none;
}

button:focus {outline:0;}

.right-icon {
  padding-left: 10px;
}

.left-icon {
  padding-left: 5px;
}

.cancel-button {
  margin-left: 15px;
}

.not-editing-title {
  display: inline-block;
  padding-top: 7px;
  padding-left: 10px;
}

.editing-title {
  display: inline-block;
}

.thumbnail {
  width: 171px;
  height: 180px;
}

// Component CSS
.loadingImageComponent {
  padding: 10px;
}

.messageBoxComponent {
  display: inline-block;
  position: absolute;
}

.adminAnimeTitleComponent {
  height: 50px;
  form {
    display: inline-block;
  }

  .messageBoxComponent {
    display: inline-block;
    position: absolute;
    top: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.adminAnimeBodyComponent {
  .wiki-url {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .not-editing-body {
    border: thin solid transparent;
    padding: 20px;
    button {
      Visibility: hidden;
    }
  }

  .not-editing-body:hover {
    border: thin solid #337ab7;
    border-radius: 4px;
    button {
      visibility: visible;
    }
  }
}

.loadingImageComponent {
  display: inline-block;
  padding-left: 20px;
}

.adminAnimeSeasonComponent {
  padding: 10px;
}

// Bootstrap Overrides CSS
.panel-body {
  position: relative;
}

.alert {
  padding: 5px 10px 5px 10px;
  animation-name: rotation;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes rotation {
  0% {
  }

  50% {
    background-color: transparent;
  }

  100% {
    background-color: transparent;
    border-color: transparent;
    color: transparent;
  }
}
