a {
  outline: none;
}

button {
  outline: none;
}

button:focus {
  outline: none;
}

.active {
  color: green;
}

.brand-image {
  background-image: image-url('anime_time.gif');
  background-repeat: no-repeat;
  background-size: contain;
  width: 400px;
  height: 70px;
}

.right-icon {
  padding-left: 10px;
}

.left-icon {
  padding-left: 5px;
}

.cancel-button {
  margin-left: 15px;
}

.not-editing-title {
  display: inline-block;
  padding-top: 7px;
  padding-left: 10px;
}

.editing-title {
  display: inline-block;
}

.thumbnail {
  width: 171px;
  height: 180px;
}
