.upload-file {
  visibility: hidden;
  position: relative;
  top: -50px;
}

.brand-image {
  background-image: image-url('anime_time.gif');
  background-repeat: no-repeat;
  background-size: contain;
  width: 400px;
  height: 70px;
}

.clear {
  clear: both;
}

.label .glyphicon-refresh {
  padding-right: 0px;
}

.label#tag-name {
  position: absolute;
  background-color: rgba(#000, 0.7);
}

.menu-title {
  text-align: left;
  padding: 10px 15px;
  background-color: rgba($blue, 0.2);
}

.no-image {
  font-size: 12px;
  font-weight: bold;
  color: rgba($blue, 0.7);
  text-align: center;
  padding: 5px;
  .glyphicon-picture {
    font-size: 80px;
    display: block;
    color: rgba($blue, 0.2);
    position: relative;
    top: 20px;
  }
}

span.link, a.link, .link {
  cursor: pointer;
  color: $blue-dark;
}

.label.link {
  cursor: pointer;
  color: #fff;
}

.right-icon {
  padding-left: 10px;
}

.left-icon {
  padding-left: 5px;
}

.cancel-button {
  margin-left: 15px;
}

.not-editing-title {
  display: inline-block;
  position: relative;
  top: -2px;
  padding: 5px;
  span.glyphicon-pencil {
    visibility: hidden;
  }
}

.not-editing-title:hover {
  background-color: rgba($blue, 0.1);
  border-radius: 3px; 
  span.glyphicon-pencil {
    visibility: visible;
  }
}

.editing-title {
  display: inline-block;
}

.not-editing-body {
  span.glyphicon-pencil {
    visibility: hidden;
  }
}

.not-editing-body:hover {
  background-color: rgba($blue, 0.1);
  border-radius: 4px;
  span.glyphicon-pencil {
    visibility: visible;
  }
}

.thumbnail {
  width: 171px;
  height: 180px;
  text-align: center;
}

.melody-image {
  width: 60px;
  height: 60px;
  text-align: center;
  background-color: #fff;
}

.circle {
  display: inline-block;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #ddd;
}

.submit-button-field {
  padding-top: 10px;
}

.animate-button {
  position: relative;
  z-index: 2;
  overflow: hidden;
  font-weight: bold;
}

.animate-button::after {
  display: block;
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  margin: 0;
  background: rgba($orange, 0.8);
  transition: .2s;
}

.animate-button:hover {
  color: #fff;
}

.animate-button:hover::after {
  width: 100%;
  height: 100%;
}

.new-form-field, .edit-form-field {
  padding: 15px;
  background-color: rgba($blue, 0.1);
  border-radius: 3px;
}

ul.advertisements {
  padding: 20px;
  .glyphicon-trash {
    visibility: hidden;
  }
  .pull-right {
    padding-left: 5px;
  }
  li {
    float: left;
    width: 150px;
    text-align: center;
    position: relative;
    padding: 10px;
    .body {
      margin-bottom: 5px;
    }
  }
  li:hover {
    background-color: rgba($blue, 0.1);
    .glyphicon-trash {
      visibility: visible;
    }
  }
}
