.navbarComponent {
  height: 80px;
}

.loginPageComponent {
  padding-top: 80px;
  .panel-body {
    padding: 40px;
  }
}

.welcomeComponent {
  padding-top: 30px;
  .title {
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    padding-bottom: 7px;
  }
  .twitter-widget {
    width: 292px;
  }
}

.animeComponent {
  .thumbnail {
    display: inline-block;
    float: left;
    border: none;
    height: auto;
    padding-right: 20px;
  }
  .summary {
    padding: 5px;
  }
}

.melodyComponent {
  padding-bottom: 25px;
  .glyphicon-music {
    font-size: 21px;
    color: #aaa;
    margin: 8px;
    padding: 5px;
  }
  td.music-thumbnail {
    width: 70px;
  }
  td.title {
    width: 150px;
  }
  td.melody-info {
    font-size: 12px;
    border-radius: 3px;
    background-color: rgba($blue, 0.1);
  }
}

.movieComponent {
  padding: 10px 0px;
  span.cd {
    padding-left: 5px;
  }
}

.advertisementsComponent {
  text-align: center;
}

.advertisementComponent {
  display: inline-block;
  padding: 5px 10px 20px 10px;
}

// == 管理画面：アニメ ==

.adminAnimeRowComponent {
  padding: 10px;

  .no-image {
    min-height: 128px;
  }
  h4 {
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 8px;
  }
  .seasons {
    li {
      list-style-type: none;
      padding-bottom: 10px;
    }
  }
  .melodies {
    li {
      display: inline;
      padding: 5px;
    }
    .glyphicon {
      padding: 5px 5px 5px 0px;
    }
  }
}

.adminAnimeThumbnailComponent {
  .thumbnail {
    .glyphicon-plus-sign {
      top: 145px;
      right: -110px;
      position: absolute;
    }
  }
  .thumbnail:hover {
    .glyphicon-plus-sign {
      visibility: visible;
    }
  }
  .messageBoxComponent {
    position: absolute;
    top: 190px;
    left: 20px;
  }
}

.adminAnimeNewFormComponent {
  .media-left {
    vertical-align: middle;
  }
}

.adminAnimeTitleComponent {
  height: 50px;
  .messageBoxComponent {
    position: absolute;
    top: 14px;
  }
  .airing-label {
    font-size: 13px;
  }
}

.adminActorTitleComponent {
  .messageBoxComponent {
    position: absolute;
    top: 14px;
  }
}

.adminAnimeBodyComponent {
  .not-editing-body {
    min-height: 230px;
    padding: 20px;
    .wiki-url {
      margin-left: 3px;
      word-break: break-all;
    }
    .summary {
      margin-top: -3px;
      margin-left: 3px;
    }
    .pull-right {
      position: absolute;
      bottom: 10px;
      right: 20px;
    }
  }
  .editing-body {
    height: 230px;
    padding: 20px;
    background-color: rgba($blue, 0.1);
  }

  .wiki-url {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .summary {
    min-height: 85px;
  }
}

.adminAnimeAdvertisementComponent {
  .label#tag-name {
    left: 10px;
  }
}

.adminAnimeSeasonComponent {
  padding: 10px;
  .not-editing-body, .edit-form-field {
    border-left: solid 5px rgba($blue, 0.2);
  }
}

.adminAnimeSeasonFormComponent {
  span {
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.adminSeasonMelodyFormComponent {
  .youtube {
    padding-bottom: 10px;
    margin-top: 10px;
    display: block;
  }
  .lyric_writer, .composer, .adapter {
    padding: 10px;
  }
}

.adminAnimeSeasonMelodiesComponent {
  padding: 10px;
  border-left: solid 5px rgba($blue, 0.2);
}

.adminAnimeSeasonMelodyComponent {
  .kind-label {
    margin: 8px;
  }
  .title {
    margin: 5px;
    font-weight: bold;
  }
  .youtube {
    .link {
      color: #fff;
    }
  }
  display: inline-block;
  padding: 10px;
  width: 200px;
}

.adminAnimeSeasonMelodyComponent:hover {
  span.glyphicon-pencil {
    visibility: visible;
  }
  background-color: rgba($blue, 0.1);
}

.adminSeasonMelodyNewFieldComponent, .adminSeasonMelodyEditFieldComponent {
  .kind {
    display: block;
    margin-bottom: 10px;
  }
  label {
    margin: 5px;
    cursor: pointer;
  }
}

// === 声優 ===

.adminActorsTableComponent table {
  margin-top: 20px;
}

// === 共通 ===

.loadingImageComponent {
  padding-left: 20px;
  display: inline-block;
}

.messageBoxComponent {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}
