.navbarComponent {
  height: 80px;
}

// == 管理画面：アニメ ==

.adminAnimeRowComponent {
  padding: 10px;

  span.no-image {
    text-align: center;
    background-color: rgba($blue, 0.1);
    font-size: 12px;
  }
  h4 {
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 8px;
  }
}

.adminAnimeTitleComponent {
  height: 50px;
  form {
    display: inline-block;
  }

  .loadingImageComponent {
    padding-left: 20px;
  }

  .messageBoxComponent {
    position: absolute;
    top: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.adminAnimeBodyComponent {
  .wiki-url {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .not-editing-body {
    padding: 20px;
  }
}

.adminAnimeSeasonComponent {
  padding: 10px;
}

// === 共通 ===

.messageBoxComponent {
  display: inline-block;
}

.loadingImageComponent {
  padding: 10px;
  display: inline-block;
}
