.navbarComponent {
  height: 80px;
}

// == 管理画面：アニメ ==

.adminAnimeRowComponent {
  padding: 10px;

  span.no-image {
    text-align: center;
    background-color: rgba($blue, 0.1);
    font-size: 12px;
  }
  h4 {
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 8px;
  }

  .media-heading {
    border-top: solid 5px;
    border-color: rgba($blue, 0.2);
    border-top-left-radius: 3px;
  }

  .media-body {
    h4 {
      padding-top: 10px;
    }
  }
}

.adminAnimeNewFormComponent {
  .media-left {
    vertical-align: middle;
  }
}

.adminAnimeTitleComponent {
  height: 50px;
  form {
    display: inline-block;
  }

  .loadingImageComponent {
    padding-left: 20px;
  }

  .messageBoxComponent {
    position: absolute;
    top: 14px;
  }
}

.adminAnimeBodyComponent {
  .not-editing-body {
    min-height: 210px;
    padding: 10px;
    .wiki-url {
      margin-left: 3px;
    }
    .summary {
      margin-top: -3px;
      margin-left: 3px;
    }
    .pull-right {
      position: absolute;
      bottom: 10px;
      right: 20px;
    }
  }
  .editing-body {
    min-height: 210px;
  }

  .wiki-url {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .summary {
    min-height: 85px;
  }
}

.adminAnimeSeasonComponent {
  padding: 10px;
}

// === 声優 ===

.adminActorsTableComponent table {
  margin-top: 20px;
}

// === 共通 ===

.loadingImageComponent {
  padding: 10px;
  display: inline-block;
}

.messageBoxComponent {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}
