meta charset='UTF-8'
meta name='viewport' content='width=device-width, initial-scale=1.0'
link media='handheld' rel='alternate' href=request.original_url
/NOTE: ページロードはしないため、request.original_urlは更新されない
/TODO: 更新されるようにする

= display_meta_tags default_meta_tags
